.main-container {
    background-image: url(./infoBg.jpg);
}

.info{
    padding: 60px 0;
    width: 940px;
    margin: 0 auto;
    

    color: #fff;

    &__logo{
        display: block;
        margin: 0 auto;
    }
}

