.shopContainer {
    background-image: url(./whiteBg.jpg);
}

.shop {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

    &__title {
        margin-top: 0;
        margin-bottom: 20px;
        
        font-size: 30px;
        line-height: 42px;
    }

    &__container {
        display: flex;
    }
}

.breadcrumbs {
    margin-bottom: 45px;
    &__list {
        display: flex;
        margin: 0;
        padding: 0;

        list-style: none;
    }

    &__item {
        line-height: 20px;
        margin-right: 35px;

        &--active {
            color: #aba9a7;
        }
    }
}

.shopForm {
    width: 220px;

    &__sets {
        margin: 0;
        margin-bottom: 45px;
        padding: 0;
        border: none;
    }

    &__title {
        padding: 0;
        margin-bottom: 25px;

        font-size: 24px;
        line-height: 30px;
    }

    &__list {
        padding: 0;
        margin: 0;

        list-style: none;
    }

    &__item:not(:last-of-type) {
        margin-bottom: 15px;
    }

    &__label:hover {
        color: #663d15;
    }

    &__checkbox {
        display: none;

        &:checked + label > .custom-checkbox {
            background-image: url(./cross.png);
        }

        &:checked + label > .custom-checkbox--radio {
            background-image: url(./dot.png);
        }
    }

    &__custom-checkbox {
        margin-right: 20px !important;
    }
}

.pagination {
    margin-left: 240px;
    margin-top: 45px;

    &__list {
        padding: 0;
        margin: 0;

        list-style: none;
    }

    &__item {
        display: inline-block;
        width: 40px;
        padding: 10px 0;
        margin-right: 5px;

        background-color: #000;
        
        color: #fff;
        text-align: center;

        &:hover:not(&--active), &:active:not(&--active) {
            background-color: #663d15;

        }

        &--active {
            background-color: #fff;

            color: #000;
        }
    }
}

.shopItems {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}

.shopItem {
    width: 220px;
    height: 285px;

    background-color: #fff;
    box-shadow: 0 0 25px 0 #cccccc;

    &__title {
        text-transform: none;
        padding: 0 17px;
        margin: 10px 0;
    }

    &__button {
        width: 75px !important;
    }

    &__price {
        display: inline-block;
        width: 110px;
        padding: 13px 0;
        margin-left: 17px;

        background-color: #e5e5e5;

        text-align: center;
    }
}