.modal {
    position: absolute;
    top: 120px;
    left: calc(50% - 230px);

    width: 460px;
    height: 385px;
    padding: 50px 80px;
    box-sizing: border-box;

    background-image: url('./whiteBg.jpg');
    background-color: white;
    box-shadow: 0 0 25px 0 #cccccc;

    &__title {
        font-size: 30px;
        margin-top: 0;
    }

}

.circle {
    position: absolute;
        top: 10px;
        right: -35px;

        display: inline-block;
        width: 20px;
        height: 20px;

        background-image: url('./crossModal.png');
        background-position: center;
        background-repeat: no-repeat;
}