.shopItem {
    width: 220px;
    height: 285px;

    background-color: #fff;
    box-shadow: 0 0 25px 0 #cccccc;

    &:first-of-type {
        margin-bottom: 20px;
    }

    &:not(:nth-of-type(3n)) {
        margin-right: 20px;
    }

    &__title {
        text-transform: none;
        padding: 0 17px;
        margin: 10px 0;
    }

    &__button {
        width: 75px !important;
    }

    &__price {
        display: inline-block;
        width: 110px;
        padding: 13px 0;
        margin-left: 17px;

        background-color: #e5e5e5;

        text-align: center;
    }
}