.map {
    position: fixed;
    top: 100px;
    left: calc(50% - 390px);

    height: 565px;
    width: 765px;
    padding: 10px;

    background-color: white;

    &__adress {
        border: 0;
    }
}
